.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #00000080;
        font-family: monospace;
    }

    img {
        width: 20%;
        object-fit: contain;
    }
}
